################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
FF8/Obj/*
FF8/Bin/*
FF8/bin/*
FF8/obj/*
FF8/packages/*
packages/*
*.exe
*.pdb 
AForge.*
