.vs
FF8/Obj/*
FF8/Bin/*
FF8/obj/x86/Debug/FF8.pdb
*.exe
*.pdb
FF8/obj/x86/Debug/FF8.csproj.CoreCompileInputs.cache
FF8/obj/x86/Debug/FF8.csproj.FileListAbsolute.txt
FF8/obj/x86/Debug/FF8.csprojAssemblyReference.cache
FF8/obj/x86/Debug/FF8.exe
FF8/obj/x86/Debug/FF8.pdb
*.cache
*.dll
*.0
*.1
*.dylib
*.p7s
*.targets
*.xml
*.nupkg
packages/NAudio.1.8.5/license.txt
packages/MonoGame.Framework.OpenGL.3.7.1.189/build/native/MonoGame.Framework.dll.config
packages/MonoGame.Framework.DesktopGL.Core.3.7.0.7/runtimes/linux-x86/native/libSDL2-2.so
packages/MonoGame.Framework.DesktopGL.Core.3.7.0.7/runtimes/linux-x86/native/libopenal.so
packages/MonoGame.Framework.DesktopGL.Core.3.7.0.7/runtimes/linux-x64/native/libSDL2-2.so
packages/MonoGame.Framework.DesktopGL.Core.3.7.0.7/runtimes/linux-x64/native/libopenal.so
packages/MonoGame.Framework.DesktopGL.3.7.1.189/build/native/MonoGame.Framework.dll.config
FF8/obj/x86/Debug/FF8.exe
FF8/obj/x86/Debug/FF8.pdb
*.exe
*.pdb
*.dll
