<configuration>
  <dllmap os="osx" dll="avcodec-57" target="/opt/local/lib/libavcodec.57"/>
  <dllmap os="osx" dll="avfilter-6" target="/opt/local/lib/libavfilter.6"/>
  <dllmap os="osx" dll="swresample-2" target="/opt/local/lib/libswresample.2"/>
  <dllmap os="osx" dll="avformat-57" target="/opt/local/lib/libavformat.57"/>
  <dllmap os="osx" dll="avutil-55" target="/opt/local/lib/libavutil.55"/>
  <dllmap os="osx" dll="swscale-4" target="/opt/local/lib/libswscale.4"/>
  <dllmap os="osx" dll="postproc-54" target="/opt/local/lib/libpostproc.54"/>
  <dllmap os="osx" dll="avdevice-57" target="/opt/local/lib/libavdevice.57"/>


  <!--dllmap dll="soft_oal.dll" os="linux" cpu="x86" target="./x86/libopenal.so.1" />
  <dllmap dll="SDL2.dll" os="linux" cpu="x86-64" target="./x64/libSDL2-2.0.so.0"/>-->
  
  <dllmap os="linux" dll="avutil-56.dll" target="/usr/lib/x86_64-linux-gnu/libavutil.so.56"/>
  <dllmap os="linux" dll="avcodec-58.dll" target="/usr/lib/x86_64-linux-gnu/libavcodec.so.58"/>
  <dllmap os="linux" dll="avformat-58.dll" target="/usr/lib/x86_64-linux-gnu/libavformat.so.58"/>
  <dllmap os="linux" dll="avdevice-58.dll" target="/usr/lib/x86_64-linux-gnu/libavdevice.so.58"/>
  <dllmap os="linux" dll="avfilter-7.dll" target="/usr/lib/x86_64-linux-gnu/libavfilter.so.7"/>
  <dllmap os="linux" dll="avresample-4.dll" target="/usr/lib/x86_64-linux-gnu/libavresample.so.4"/>
  <dllmap os="linux" dll="swscale-5.dll" target="/usr/lib/x86_64-linux-gnu/libswscale.so.5"/>
  <dllmap os="linux" dll="swresample-3.dll" target="/usr/lib/x86_64-linux-gnu/libswresample.so.3"/>
  <dllmap os="linux" dll="postproc-55.dll" target="/usr/lib/x86_64-linux-gnu/libpostproc.so.55"/>
</configuration>