<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFmpeg.AutoGen" version="4.1.0.5" targetFramework="net46" />
  <package id="MonoGame.Framework.DesktopGL" version="3.7.1.189" targetFramework="net46" />
  <package id="MonoGame.Framework.Portable" version="3.7.1.189" targetFramework="net46" />
  <package id="NAudio" version="1.9.0" targetFramework="net46" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net46" />
  <package id="NVorbis" version="0.8.6" targetFramework="net46" />
</packages>